.login-container{
    margin-top:8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    max-width: 900px !important;

}
.login-card{
    border: none !important;
}
.col1colr{
    background-color: royalblue;
    border-radius: 10px 0 0 10px;
}
.col1text{
    color: white;
}
.headingfont{
    margin-right: 2px;
}
.custom-btn{
    background-color: black !important;
    color: white !important;
    width: 120px;
}
.custom-btn:hover{
    background-color: royalblue !important;
    color: white !important;
}

@media only screen and (max-width : 450px){
   .iconchat{
     display: none;
   }
}    